data_handler_files/converter_files/__pycache__/calculater.cpython-310.pyc
data_handler_files/converter_files/__pycache__/main_fixture_pr.cpython-310.pyc
data_handler_files/converter_files/__pycache__/main_fixture_prxg.cpython-310.pyc
data_handler_files/converter_files/__pycache__/main_fixture_xg.cpython-310.pyc
data_handler_files/converter_files/__pycache__/pr_percentage_calculate.cpython-310.pyc
data_handler_files/converter_files/__pycache__/pr_percentage_collector.cpython-310.pyc
data_handler_files/converter_files/__pycache__/prxg_percentage_calculator.cpython-310.pyc
data_handler_files/converter_files/__pycache__/prxg_percentage_collector.cpython-310.pyc
data_handler_files/converter_files/__pycache__/xg_percentage_calculator.cpython-310.pyc
data_handler_files/converter_files/__pycache__/xg_percentage_collector.cpython-310.pyc
*.pyc
*.pyc
